<form class="form-inline" role="form">
    <div class="form-group">
      <label for="coordinate1">First coordinate:</label>
      <input type="text" class="form-control" id="coor1" ng-model="firstInput" ng-blur="isCoordinate()">
    </div>
        <div class="radio-inline disabled">
            <label><input type="radio" name="DDM">DDM</label>
          </div>
          <div class="radio-inline disabled">
            <label><input type="radio" name="DMS">DMS</label>
          </div>
          <div class="radio-inline disabled">
            <label><input type="radio" name="DD" disabled>DD</label>
          </div>
          <div class="radio-inline disabled">
            <label><input type="radio" name="UTM" disabled>UTM</label>
          </div>

    <!-- <button type="submit" class="btn btn-default">Submit</button> -->
  </form>