<!-- Location Control -->
<div class="form-group">
	<div class="row">
		<label for="{{ vm.fieldName }}-location">{{ vm.locationLabel }}</label>
		<div class="field-functions-menu-wrapper">
			<input type="text" class="form-control"
				id="{{ vm.fieldName }}-location"
				name="{{ vm.fieldName }}-location"
				triggersaveid="{{ saveFormName }}"
				ng-model="vm.getSetLocation"
				ng-model-options="{ updateOn: 'blur', getterSetter: 'true' }">
		</div>
	</div>
</div>

<!-- Position Control -->
<div class="form-group">
	<div class="row">
		<label class="control-label" >{{ vm.positionLabel }}</label>

		<div class="field-functions-menu-wrapper">

			<input class="form-control" ng-readonly="vm.readOnly"
				ng-model="vm.dmsLatitude" ng-model-options="{ updateOn: 'blur' }"
				id="{{ vm.fieldName }}-latitude" name="{{ vm.fieldName }}-latitude" style="width:43%; float:left;" placeholder="{{  vm.latitudeLabel }}">
			<input class="form-control"  ng-readonly="vm.readOnly"
				ng-model="vm.ddmLatitude" ng-model-options="{ updateOn: 'blur' }"
	 			id="{{ vm.fieldName }}-latitude" name="{{ vm.fieldName }}-latitude" style="width:43%; float:left;" placeholder="{{  vm.latitudeLabel }}">
			<input class="form-control"  ng-readonly="vm.readOnly"
				 ng-model="vm.ddLatitude" ng-model-options="{ updateOn: 'blur' }"
				id="{{ vm.fieldName }}-latitude" name="{{ vm.fieldName }}-latitude" style="width:43%; float:left;" placeholder="{{  vm.latitudeLabel }}">

			<input class="form-control"  ng-readonly="vm.readOnly"
				ng-model="vm.dmsLongitude" ng-model-options="{ updateOn: 'blur' }"
				id="{{ vm.fieldName }}-longitude" name="{{ vm.fieldName }}-longitude" style="width:55%;" placeholder="{{  vm.longitudeLabel }}">
			<input class="form-control"  ng-readonly="vm.readOnly"
				ng-model="vm.ddmLongitude" ng-model-options="{ updateOn: 'blur' }"
				id="{{ vm.fieldName }}-longitude" name="{{ vm.fieldName }}-longitude" style="width:55%;" placeholder="{{  vm.longitudeLabel }}">
			<input class="form-control"  ng-readonly="vm.readOnly"
				ng-model="vm.ddLongitude" ng-model-options="{ updateOn: 'blur' }"
				id="{{ vm.fieldName }}-longitude" name="{{ vm.fieldName }}-longitude" style="width:55%;" placeholder="{{  vm.longitudeLabel }}">

			<div ng-include src="'views/positionControlDropdown.html'"></div>
			<div ng-if="vm.dropdownTemplate" compile="vm.dropdownTemplate"></div>
		</div>
	</div>
</div>
